.search {
    position: relative;
    left: 40px;
    top: 80px;
}

.row {
    position: relative;
    left: 300px;
}

.current {
    position: relative;
    left: 300px;
}

.searchBtn {
    position: relative;
    left: 100px;
}